.aboutPage {
  text-align: left;
  margin-top: -2rem;
  background-color: rgb(240, 255, 255, 0.3);
  border-radius: 10px;
  padding: 1rem;
  margin-left: -2rem;
  height: 100%;
}

.aboutPage h1 {
  text-align: center;
}

.aboutPage h1 {
  text-align: center;
}

.aboutPage h3 {
  margin-bottom: -0.5rem;
  margin-top: 1.5rem;
}

.aboutPage p {
  text-align: left;
  font-weight: 500;
}

@media (max-width: 786px) {
  .aboutPage {
    margin-left: -1rem;
    margin-right: -2rem;
  }
}
