.goalPage {
  padding-top: 5rem;
  position: relative;
  width: 100%;
}
.goalList {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.title {
  position: absolute;
  left: 0;
  right: 0;
  top: 3.5rem;
  margin-left: 1rem;
}

.goal {
  box-shadow: 1px 3px 6px 1px rgb(0, 0, 0, 0.4);
  margin: 1rem 1rem;
  padding: 0rem 1rem;
  border-radius: 10px;
  word-break: break-all;
  color: (28, 28, 190);
  font-size: 16px;
  font-weight: 500;
  position: relative;
  text-align: left;
  color: rgb(30, 30, 173);
}

.addGoalBtn {
  height: 38vh;
  width: 15vw;
  font-weight: bold;
  font-size: 20px;
  background-color: palevioletred;
  color: rgb(130, 37, 68);
  cursor: pointer;
  text-align: center;
}

.addGoalBtn:hover {
  background-color: rgb(130, 37, 68);
  color: palevioletred;
}

.removeBtn {
  color: rgb(248, 0, 0);
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 10px;
}

.removeBtn:hover {
  color: black;
}
