.goalPage {
  padding-top: 5rem;
  position: relative;
}
.goalList {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 6rem;
}

.title {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  margin-top: 1rem;
  margin-left: 1rem;
}

.goal {
  border: 3px solid rgb(28, 28, 190);
  box-shadow: 1px 5px 5px 1px rgb(28, 28, 190);
  margin: 1rem 1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  word-break: break-all;
  color: (28, 28, 190);
  font-size: 20px;
  font-weight: 500;
}

.addGoalBtn {
  height: 43vh;
  width: 15vw;
  font-weight: bold;
  font-size: 20px;
  background-color: palevioletred;
  color: rgb(130, 37, 68);
  cursor: pointer;
}

.addGoalBtn:hover {
  background-color: rgb(130, 37, 68);
  color: palevioletred;
}

.removeBtn {
  color: rgb(248, 0, 0);
  border-radius: 5px;
  font-size: 2rem;
  cursor: pointer;
}

.removeBtn:hover {
  color: black;
}
