.navbar {
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 4rem;
  border-right: solid 1px rgb(66, 63, 63);
  text-align: left;
  width: 16rem;
}

.link {
  text-decoration: none;
  color: black;
  margin-top: 3rem;
  margin-right: 0.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 5px;
  font-weight: bolder;
}

.isActive {
  text-decoration: none;
  margin-top: 3rem;
  margin-right: 0.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 5px;
  font-weight: bolder;
  background-color: rgb(66, 63, 63);
  color: azure;
}

.link:hover {
  background-color: rgb(66, 63, 63);
  color: azure;
}
