.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  height: 100%;
  background-image: url("../public/assets/background.jpg");
  background-size: cover;
}

:root {
  --primary-color: rgb(240, 255, 255, 0.65);
  --dark-grey: rgb(128, 128, 128, 0.6);
}

.mainPages {
  margin-top: 5rem;
  margin-left: 18rem;
  width: 100%;
}

@media (max-width: 786px) {
  .mainPages {
    margin-left: 9rem;
    margin-right: 2rem;
  }
}
